{%- extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>About Me</title>

			<!-- Custom styles for this template go here -->
				<link rel="stylesheet" href="css/about_styles.css">

			<!--[if lt IE 9]>
			<script src="dist/html5shiv.js"></script>
			<![endif]-->
	</head>
	<body>
    <!-- asdasdasd -->
    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3>
				About
			</h3>
			<blockquote>
				<p>
					If you only read the books that everyone else is reading, you can only think what everyone else is thinking.
				</p> <small>Haruki Murakami, <cite>Norwegian Wood</cite></small>
			</blockquote>
			<dl>
				<dt>
					Recommend me books allows you to analyze what kind of books you read.
                </dt>
                <dl>Being an avid book lover myself I was surprised to see that 95% of the books I had read were from authors originating from US and UK.
Also on further analysis I realized 80% of the authors were Male. To me this was a recipe for disaster.
I firmly believe that the books you read help shape your opinions.Something was clearly wrong when all the knowledge I was gaining was coming from an extremely small set of literature.
Given the rich culture and literature available all over the world this really surprised me that why was I not venturing out and reading more different types of books.

One problem is that the current sites like Amazon etc only gives recommendations based on things you have read before always keeping you inside a bubble.</dl>

			</dl>
			<div class="row" align="center">
				<div class="col-md-12">
                       <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="2WSNDHT6DFJAQ">
<table>
<tr><td><input type="hidden" name="on0" value="DONATE!! Help me keep the website running">DONATE!! Help me keep the website running</td></tr><tr><td><select name="os0">
	<option value="Option 1">Option 1 $1.00 USD</option>
	<option value="Option 2">Option 2 $2.00 USD</option>
	<option value="Option 3">Option 3 $5.00 USD</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="USD">
<input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
</form>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
				</div>
			</div>
			<h2>
				This video greatly inspired me
			</h2>
			<p>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/Hh09xlzxRmE" frameborder="0" allowfullscreen></iframe>

			</p>
			<p>
				<a class="btn" href="#">View details »</a>
			</p>
		</div>
	</div>
</div>
{% endblock %}