
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>RMB &mdash;</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="html5, css3, mobile first, responsive" />
	<meta name="author" content="Ishaan" />

  <!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FreeHTML5.co
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<link href="https://fonts.googleapis.com/css?family=Raleway:550,300,400,700" rel="stylesheet">

	<!-- Animate.css -->
	<link rel="stylesheet" href="/static/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/static/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/static/css/bootstrap.css">
	<!-- Flexslider  -->
	<link rel="stylesheet" href="/static/css/flexslider.css">
	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="/static/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/static/css/owl.theme.default.min.css">
	<!-- Theme style  -->
	<link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet"  href="/static/css/jssocials.css" />
     <link rel="stylesheet"  href="/static/css/jssocials-theme-flat.css" />

	<!-- Modernizr JS -->
	<script src="/static/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="/static/js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>

	<script>

		// $('#login_btn').bind('click', function () {
  //   		$(this).replaceWith('<img class="loading-gif" id="processing" src= "https://govizzle.com/imagesloading-animation.gif"  alt="Processing" />');
		// });

        function loading(){

			$('#login_btn').hide();

            $(".loading").show();

            $(".quote-loading").show();


                    var strings = [
            'Don\'t cry because it\'s over, smile because it happened.',
          'I\'m selfish, impatient and a little insecure. I make mistakes, I am out of control and at times hard to handle. But if you can\'t handle me at my worst, then you sure as hell don\'t deserve me at my best......',
          'Two things are infinite: the universe and human stupidity; and I\'m not sure about the universe.....',
          'A room without books is like a body without a soul.....',
          'Be the change that you wish to see in the world.....',
          'In three words I can sum up everything I\'ve learned about life: it goes on.....',
          'If you want to know what a man\'s like, take a good look at how he treats his inferiors, not his equals.....',
          'I\'ve learned that people will forget what you said, people will forget what you did, but people will never forget how you made them feel.....',
          'To be yourself in a world that is constantly trying to make you something else is the greatest accomplishment....',
          'I am so clever that sometimes I don\'t understand a single word of what I am saying....'
        ];

        var strings_auth = [
            '- Dr. Seuss',
          '― Marilyn Monroe',
          '― Albert Einstein',
          '― Marcus Tullius Cicero',
          '― Mahatma Gandhi',
          '― Robert Frost',
          '- J.K. Rowling',
          '― Maya Angelou',
          '― Ralph Waldo Emerson',
          '― Oscar Wilde'
        ];

        var rand = Math.floor(Math.random() * strings.length);
        var quote = strings[rand];
        var auth = strings_auth[rand];

        document.getElementById('loading-text').innerHTML = quote;
        document.getElementById('loading-auth').innerHTML = auth;


        }

    </script>
	<div id="fh5co-page">
	<header id="fh5co-header" role="banner">
		<div class="container">
			<div class="header-inner">
				<h1><a href="index.html">Recommend Me Books</a></h1>
				<nav role="navigation">
					<ul>
                        <li><a href="{{ url_for('index')}}">Home</a></li>
						<li><a href="{{ url_for('about')}}">About</a></li>
						<li><a href="{{ url_for('feedback') }}">Contact</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>

	<div class="container">

	</div>
	<aside id="fh5co-hero" class="js-fullheight">
		<div class="flexslider js-fullheight">
			<ul class="slides">
		   	<li style="background-image: url(/static/images/slide_1.jpg);">
		   		<div class="overlay-gradient"></div>
		   		<div class="container">
		   			<div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
		   				<div class="slider-text-inner">
		   					<h2>
		   						<strong> Analyze your books like never before </strong>
		   					</h2>

		   					<div class="col-lg-12 text-center" style="color: #F5F5DC;">
                    			<p>Log In using Goodreads</p>
                			</div>
                			<div class="login_btn button text-center" id="login_btn">
                      			<a href="{{ url_for('oauth_authorize', provider='goodreads') }}" class="btn btn-default btn-lg" onclick="loading();">Login</a>
                			</div>
                			<div id="container" class='loading' >
                				<img class="loading-gif" id="processing" src= "https://govizzle.com/images/loading-animation.gif"  alt="Processing" />
							</div>
                			<div id="container" class='quote-loading' >
     							<div id='loading-text' class='loading-text'>Processing</div><br/>
      							<div id='loading-auth' class='loading-auth'></div>
							</div>
                			<!-- <div class="clearfix"></div> -->
		   				</div>
		   			</div>
		   		</div>
		   	</li>
		  	</ul>
	  	</div>
	</aside>
    <div id="fh5co-services-section">
		<div class="container">
            	<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading animate-box">
                    <h2><strong>Explore book recommendations of</strong></h2>
					<p>great thinkers, entrepreneurs, pioneers and visionaries</p>
				</div>
			</div>

<div class="carousel slide" id="myCarousel">
  <div class="carousel-inner">
    <div class="item active">
      <div class="col-xs-3"><a href="#"><img src="https://i.imgur.com/nylwzrs.jpg" class="img-responsive img-rounded"></a></div>
    </div>
    <div class="item">
      <div class="col-xs-3"><a href="#"><img src="https://i.imgur.com/s1EI0nB.jpg" class="img-responsive img-rounded"></a></div>
    </div>
    <div class="item">
      <div class="col-xs-3"><a href="#"><img src="https://i.imgur.com/3fB0UIM.jpg" class="img-responsive img-rounded"></a></div>
    </div>
    <div class="item">
      <div class="col-xs-3"><a href="#"><img src="https://i.imgur.com/D0JMfQu.jpg" class="img-responsive img-rounded"></a></div>
    </div>
    <div class="item">
      <div class="col-xs-3"><a href="#"><img src="https://i.imgur.com/PZ6FTYr.jpg" class="img-responsive img-rounded"></a></div>
    </div>
    <div class="item">
      <div class="col-xs-3"><a href="#"><img src="https://i.imgur.com/ZwqmOCY.jpg" class="img-responsive img-rounded"></a></div>
    </div>
    <div class="item">
      <div class="col-xs-3"><a href="#"><img src="https://i.imgur.com/0a8XbgW.jpg" class="img-responsive img-rounded"></a></div>
    </div>
    <div class="item">
      <div class="col-xs-3"><a href="#"><img src="https://i.imgur.com/0a8XbgW.jpg" class="img-responsive img-rounded"></a></div>
    </div>
  </div>
</div>
</div></div>
	<div id="fh5co-services-section">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading animate-box">
					<h2>Our Awesome Features</h2>
					<p>Country wise distribution of books read <br>Analyze and compare with your friends reading lists<br>
					Discover book recommendations from unexplored countries</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 animate-box">
					<div class="services">
						<i class="icon-laptop"></i>
						<div class="desc">
							<h3>Dashboard</h3>
							<p>Learn more about your reading style like your favorite author, genres you prefer etc.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 animate-box">
					<div class="services">
						<i class="icon-pie-chart"></i>
						<div class="desc">
							<h3>Analytics</h3>
							<p>Get data and insights about your reading habits. See which country's books you have read so far and what you are missing out</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 animate-box">
					<div class="services">
						<i class="icon-server"></i>
						<div class="desc">
							<h3>Recommendations</h3>
							<p>Get amazing recommendation on the books that you can read and enjoy</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- <div id="fh5co-work-section" class="fh5co-light-grey-section">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading animate-box">
					<h2>Latest Projects</h2>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 animate-box">
					<a href="#" class="item-grid text-center">
						<div class="image" style="background-image: url(images/image_1.jpg)"></div>
						<div class="v-align">
							<div class="v-align-middle">
								<h3 class="title">Geographical App</h3>
								<h5 class="category">Web Application</h5>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-4 animate-box">
					<a href="#" class="item-grid text-center">
						<div class="image" style="background-image: url(images/image_2.jpg)"></div>
						<div class="v-align">
							<div class="v-align-middle">
								<h3 class="title">Geographical App</h3>
								<h5 class="category">User Interface</h5>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-4 animate-box">
					<a href="#" class="item-grid text-center">
						<div class="image" style="background-image: url(images/image_3.jpg)"></div>
						<div class="v-align">
							<div class="v-align-middle">
								<h3 class="title">Geographical App</h3>
								<h5 class="category">Branded</h5>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-4 animate-box">
					<a href="#" class="item-grid text-center">
						<div class="image" style="background-image: url(images/image_4.jpg)"></div>
						<div class="v-align">
							<div class="v-align-middle">
								<h3 class="title">Geographical App</h3>
								<h5 class="category">Web</h5>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-4 animate-box">
					<a href="#" class="item-grid text-center">
						<div class="image" style="background-image: url(images/image_5.jpg)"></div>
						<div class="v-align">
							<div class="v-align-middle">
								<h3 class="title">Geographical App</h3>
								<h5 class="category">Illustration</h5>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-4 animate-box">
					<a href="#" class="item-grid text-center">
						<div class="image" style="background-image: url(images/image_6.jpg)"></div>
						<div class="v-align">
							<div class="v-align-middle">
								<h3 class="title">Geographical App</h3>
								<h5 class="category">Web Application</h5>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-12 text-center animate-box">
					<p><a href="#" class="btn btn-primary with-arrow">View More Projects <i class="icon-arrow-right"></i></a></p>
				</div>
			</div>
		</div>
	</div> -->
	<div id="fh5co-testimony-section" class="fh5co-light-grey-section" style="display: none;">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading animate-box">
					<h2>Clients Feedback</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-offset-0 to-animate">
					<div class="wrap-testimony animate-box">
						<div class="owl-carousel-fullwidth">
							<div class="item">
								<div class="testimony-slide active text-center">
									<figure>
										<img src="/static/images/person1.jpg" alt="user">
									</figure>
									<blockquote>
										<p>"I love the recommendation given by this website"</p>
									</blockquote>
									<span>Athan Smith, via <a href="#" class="facebook">Facebook</a></span>
								</div>
							</div>
							<div class="item">
								<div class="testimony-slide active text-center">
									<figure>
										<img src="/static/images/person2.jpg" alt="user">
									</figure>
									<blockquote>
										<p>"I love the recommendation given by this website"</p>
									</blockquote>
									<span>Nathalie Kosley, via <a href="#" class="twitter">Twitter</a></span>
								</div>
							</div>
							<div class="item">
								<div class="testimony-slide active text-center">
									<figure>
										<img src="/static/images/person3.jpg" alt="user">
									</figure>
									<blockquote>
										<p>"I love the recommendation given by this website"</p>
									</blockquote>
									<span>Yanna Kuzuki, via <a href="#" class="twitter">Twitter</a></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="fh5co-blog-section" style="display: none;">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading animate-box">
					<h2>Recent from Blog</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-6 animate-box">
					<a href="#" class="item-grid">
						<div class="image" style="background-image: url(/static/images/image_1.jpg)"></div>
						<div class="v-align">
							<div class="v-align-middle">
								<h3 class="title">How we recommend books you would love to read</h3>
								<h5 class="date"><span>June 23, 2016</span> | <span>4 Comments</span></h5>
								<p>We use our very own algorithm to helps us to recommend books based on your reading style and interests.</p>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-6 col-sm-6 animate-box">
					<a href="#" class="item-grid">
						<div class="image" style="background-image: url(/static/images/image_2.jpg)"></div>
						<div class="v-align">
							<div class="v-align-middle">
								<h3 class="title">Geographical Insight</h3>
								<h5 class="date"><span>June 22, 2016</span> | <span>10 Comments</span></h5>
								<p>Geographical data is used to understand and recommend the kind of books that would interest our users.</p>
							</div>
						</div>
					</a>
				</div>
<!-- 				<div class="col-md-12 text-center animate-box">
					<p><a href="#" class="btn btn-primary with-arrow">View More Post <i class="icon-arrow-right"></i></a></p>
				</div> -->
			</div>
		</div>
	</div>
	

<!-- 	<div class="fh5co-cta" style="background-image: url(images/slide_2.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="col-md-12 text-center animate-box">
				<h3>We Try To Update The Site Everyday</h3>
				<p><a href="#" class="btn btn-primary btn-outline with-arrow">Get started now! <i class="icon-arrow-right"></i></a></p>
			</div>
		</div>
	</div> -->

	
	<footer id="fh5co-footer" role="contentinfo">
			
			<div class="col-md-12 fh5co-copyright text-center">
				<p>&copy; 2018 Recommend Me Books. All Rights Reserved.</p>
			</div>
			
		</div>
	</footer>
	</div>
	
	
	<!-- jQuery -->
	<script src="/static/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="/static/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="/static/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="/static/js/jquery.waypoints.min.js"></script>
	<!-- Owl Carousel -->
	<script src="/static/js/owl.carousel.min.js"></script>
	<!-- Flexslider -->
	<script src="/static/js/jquery.flexslider-min.js"></script>

	<!-- MAIN JS -->
	<script src="/static/js/main.js"></script>
    <script src="/static/js/userreport.js"></script>
    <script>
        $('#myCarousel').carousel({
  interval: 4000
})

$('.carousel .item').each(function(){
  var next = $(this).next();
  if (!next.length) {
    next = $(this).siblings(':first');
  }
  next.children(':first-child').clone().appendTo($(this));

  for (var i=0;i<2;i++) {
    next=next.next();
    if (!next.length) {
    	next = $(this).siblings(':first');
  	}

    next.children(':first-child').clone().appendTo($(this));
  }
});
    </script>
    <script src="/static/js/jssocials.min.js"></script>
    <script>
  (function (w,i,d,g,e,t,s) {w[d] = w[d]||[];t= i.createElement(g);
    t.async=1;t.src=e;s=i.getElementsByTagName(g)[0];s.parentNode.insertBefore(t, s);
  })(window, document, '_gscq','script','//widgets.getsitecontrol.com/132019/script.js');
</script>
	</body>
</html>

