{%- extends "base.html" %}
{% import "bootstrap/utils.html" as utils %}
{% block content %}
    <script src={{ url_for('static', filename='jquery.min.js') }}></script>
    <script src={{ url_for('static', filename='bootstrap.min.js') }}></script>
<div class="brand">Recommend Me Books</div>
<div id="loading"></div>
    <div id="content">

     <div class="container-fluid">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong> Analyze your and your friends books and a lot more</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <p>Log In using Goodreads</p>
                </div>
                <div class="button text-center">
                      <a href="{{ url_for('oauth_authorize', provider='goodreads') }}" class="btn btn-default btn-lg" onclick="loading();">Login</a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
 </div>
    {% block scripts %}
        <script>
        function loading(){
            $("#loading").show();
            $("#content").hide();
        }
        </script>
        {% endblock %}
    </div>
      <div class="container-fluid footer navbar-fixed-bottom right">
        <p>© 2017<a style="color:#0a93a6; text-decoration:none;" href="{{ url_for('feedback') }}"> Feedback</a></p>
    </div>
{%  endblock %}
