{%- extends "base.html" %}
{% block styles %}
    {{ super() }}
     <link rel="stylesheet"  href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />
     <link rel="stylesheet"  href="{{ url_for('static', filename='css/jssocials.css') }}" />
     <link rel="stylesheet"  href="{{ url_for('static', filename='css/jssocials-theme-flat.css') }}" />
{% endblock %}

{% block head %}
{{ super() }}
 <meta property="og:title" content="Analyze your books like never before.I have read books from {{ labels|length }} countries">
<meta property="og:image" content="{{ url_for('static') }}">
<meta property="og:description" content="My most read author is {{ fav_author }}. Check out your stats">
<meta property="og:url" content="https://recommendmebooks.com/profile">

{% endblock %}


{% block content %}

<head>

    <style>
        body {margin: 0;}

</style>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% if friend %}
                <h3>{{ finfo['name'] }}'s Book Recommendation from {{ author_info.country }}!</h3>
                {% else %}
                <h3>Your Book Recommendation from {{ author_info.country }}!</h3>
                {% endif %}
            </div>
            <div class="row">
            <div class="col-md-6">
                <dl class="dl-horizontal">
				<dt>
					Title
				</dt>
				<dd>
					<b> {{ reco_book.title }} </b>
				</dd>
				<dt>
					Description
				</dt>
				<dd>
					{{ reco_book.description[0:200] + '...' }}
				</dd>
				<dt>
					Average Rating
				</dt>
				<dd>
					{{ reco_book.average_rating }}
				</dd>
			</dl>
            </div>
                   <div class="col-md-6">
                <img src="{{ reco_book.image_url }}" />
            </div>
            </div>
        </div>
      </div>
</div>
	<div class="row">
		<div class="col-md-12">
			<h3 class="text-success text-center">
                 {% if friend %}
                {{ finfo['name'] }}'s Goodreads Analysis
                {% else %}
				Your Goodreads Analysis
                {% endif %}
			</h3>
		</div>
	</div>
    <div class="row">
    <div class="col-md-12">
        <div id="share" align="center"></div>
    </div>
    </div>
     <div class="row">
    <div class="col-md-12">
       <h4 align="center">Share your Stats!</h4>
    </div>
    </div>
    <div class="row">
		<div class="col-md-6">
            <h1><span class="label label-info">Most Read Author :{{ fav_author }}</span></h1>
        </div>
        <div class="col-md-6">
            <h1><span class="label label-info">Total Unique Authors Read:{{ user_books | count  }}</span></h1>
        </div>
		</div>
    <div class="row">
    <div class="col-md-6">
            <h1><span class="label label-info">Total Female Authors Read:{{ gender_analysis["female"] }}</span></h1>
        </div>
        <div class="col-md-6">
            <h1><span class="label label-info">Total Male Authors Read:{{ gender_analysis["male"] }}</span></h1>
        </div>
	</div>
    <div class="col-xs-12" style="height:50px;"></div>
	<div class="row">
		<div class="col-md-6">
            <h1><span class="label label-info">Books read Publication Time Line</span></h1>
            <canvas id="line-chart" width="600" height="400"></canvas>
		</div>
		<div class="col-md-6">
            <h1><span class="label label-info">Country Wise Distribution</span></h1>
            <h3><span class="label label-info">You have read books from {{ labels|length }} countries out of 195</span></h3>
<canvas id="chart" width="600" height="400"></canvas>

		</div>
	</div>
</div>

{%  endblock %}

{% block scripts %}
    {{ super() }}
    <script src={{ url_for('static', filename='js/Chart.min.js')}}></script>
     <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
       <script src="{{ url_for('static', filename='js/jssocials.min.js') }}"></script>
    <script>
    $("meta[name='og:title1']").attr('content', 'my new title');
    // line-chart
    var lineBarData = {
        labels : [{% for item in timeline %}
                  "{{ item[0] - (item[0] % 10) }}",
              {% endfor %}],
    datasets : [
        {
         data : [
             {% for item in timeline %}
                  "{{ item|length }}",
              {% endfor %}
         ]
        }
    ]
    }

    var lineChart = document.getElementById("line-chart").getContext("2d");
    new Chart(lineChart).Line(lineBarData);
   // bar chart data
   var barData = {
   labels : [{% for item in labels %}
                  "{{item}}",
              {% endfor %}],
   datasets : [
      {
            fillColor: "rgba(87 ,194, 30,0.4)",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(151,187,205,1)",
         data : [{% for item in values %}
                      {{item}},
                    {% endfor %}]
      }
      ]
   }

   // get bar chart canvas
   var mychart = document.getElementById("chart").getContext("2d");

   steps = 10
   max = 100
   // draw bar chart
   new Chart(mychart).Bar(barData, {
        scaleOverride: true,
        scaleSteps: steps,
        scaleStepWidth: Math.ceil(max / steps),
        scaleStartValue: 0,
        scaleShowVerticalLines: true,
        scaleShowGridLines : true,
        barShowStroke : true,
        scaleShowLabels: true
   });
   </script>

    <script>
     //var canvas = document.getElementById('chart');
     //var dataURL = canvas.toDataURL();
     //console.log(dataURL);
        $("#share").jsSocials({
            showLabel: false,
    showCount: false,
            shareIn: "popup",
            shares: [ "twitter", "facebook", "googleplus", "linkedin", "pinterest", "stumbleupon"]
        });

    </script>
{% endblock %}