{%- extends "base.html" %}
{% block content %}
<!DOCTYPE html>
    <script src={{ url_for('static', filename='Chart.min.js') }}></script>
<html lang="en">

<head>

    <style>
        body {margin: 0;}

</style>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<h1><span class="label label-info">Total Books Read:{{ total_book }}</span></h1>
<h1><span class="label label-info">Total Authors Read:{{ user_books | count  }}</span></h1>
<h1><span class="label label-info">Total Male Authors Read:{{ gender_analysis["male"] }}</span></h1>
<h1><span class="label label-info">Total Female Authors Read:{{ gender_analysis["female"] }}</span></h1>


<h1><span class="label label-info">Country Wise Distribution</span></h1>
<canvas id="chart" width="600" height="400"></canvas>
    {% block scripts %}
    <!-- import plugin script -->
<script>
   // bar chart data
   var barData = {
   labels : [{% for item in labels %}
                  "{{item}}",
              {% endfor %}],
   datasets : [
      {
            fillColor: "rgba(87 ,194, 30,0.4)",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(151,187,205,1)",
         data : [{% for item in values %}
                      {{item}},
                    {% endfor %}]
      }
      ]
   }

   // get bar chart canvas
   var mychart = document.getElementById("chart").getContext("2d");

   steps = 10
   max = 50
   // draw bar chart
   new Chart(mychart).Bar(barData, {
        scaleOverride: true,
        scaleSteps: steps,
        scaleStepWidth: Math.ceil(max / steps),
        scaleStartValue: 0,
        scaleShowVerticalLines: true,
        scaleShowGridLines : true,
        barShowStroke : true,
        scaleShowLabels: true
   });

</script>
{% endblock %}
<div class="container-fluid footer navbar-fixed-bottom right">
        <p>© 2017<a style="color:#0a93a6; text-decoration:none;" href="#"> BootSnipp And TomGeek76</a>, All rights reserved 2016-2017.</p>
    </div>
</body>
</html>
{%  endblock %}